@charset "UTF-8";
.tothetop{
	position: fixed; /* 포지션 고정 */ 
	right: 10%; /* 오른쪽에서 2% - %도 할수 있음*/ 
	bottom: 5%; /* 밑에서 5px */ 
	display: none; /* 보여지지 없음 - 기본적으로 안보여지게 */  
	z-index: 9999; /* 포지션을 먼저 지정후 z-좌표(레이어) : 9999입니다. */
	cursor: pointer;
	background-color: var(--primary-color);
	width:60px;
	height:60px;
	border-radius:60px;
	text-align:center;
	font-size: 2em;
	color:var(--white-color);
}
.square_list{
	display: grid;
	grid-template-columns : 1fr 1fr 1fr 1fr;
	cursor: pointer;
}

.square_list tr td{
	width : 210px;
}

.tab_view{

}

.tab_hidden{
	display: none;
}